@charset "UTF-8";
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
a:hover{
  color: blue;
}
a{
  text-decoration: none;
  color: red;
}
a:active{
  color: #f2321f;
}
p{
  color: black;
}